body {
  margin: 0;
  background: var(--background);
  font-size: 16px;
  font-family: 'Nunito Sans', sans-serif;
  color: var(--black);
  
  
}
Link{
  text-decoration: none;
}

.is-dark-mode {
  --black: white;
  --white: #273542;
  --background: #1a2833;
}

.is-light-mode {
  --black: #111517;
  --white: white;
  --background: #fafafa;
}
@media (prefers-color-scheme: dark) {
  :root {
    --black: white;
    --white: #273542;
    --background: red;
  }
}


/* ::-webkit-scrollbar {
  width: 18px;    
  height: 58px;   
}
::-webkit-scrollbar-thumb {
  background: #999999;
  border-radius: 4px;
} */
